#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  display: flex;
  align-items: center;
}

.row label + input,
.row select + label {
  margin-left: 20px;
}
