/* PriceConverter.tsx */
#calculator {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1ea;
  border: 1px solid black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-top: 50px;
  overflow-x: auto;
}

.row {
  display: grid;
  grid-template-columns: 90px 70px 90px 90px 70px;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 10px;
}

.row select {
  margin-right: 15px;
}

#calculator button {
  margin: 20px;
  background-color: rgb(103, 89, 89);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  margin-top: 100px;
}

/* UnitConverter.tsx */
.unit-row {
  display: grid;
  grid-template-columns: 90px 70px 90px;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 10px;
}

.row select {
  margin-right: 15px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  #calculator {
    width: 90%;
    padding-top: 20px;
  }

  .row, .unit-row {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .break-row {
    margin-bottom: 30px;
  }

  #calculator button {
    width: 30%;
    font-size: 14px;
  }

  .row select,
  .unit-row select {
    width: 100%;
  }
}